<!-- TEMPORARY DISABLED TO TEST HEADER -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div class="page-wrapper">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img
            src="https://static.wixstatic.com/media/440e41_17ee0077f488400da975d48cbc2c6fa7~mv2.png/v1/crop/x_17,y_109,w_467,h_287/fill/w_242,h_134,al_c,q_80,usm_0.66_1.00_0.01/440e41_17ee0077f488400da975d48cbc2c6fa7~mv2.webp"
            width="60"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          iWorkshop
        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
        </ul>
      </nav>
      <div class="container">
        <div class="nav justify-content-end">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
