<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>iWorkshop - Intelligent Workshop System</h1>
    <h3>by iPredict</h3>
    <form action="post">
      <input type="text" placeholder="Vehicle Number" />
      <button>Get Info</button>
    </form>
  </body>
</html>
