<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>iWorkshop - Vehicle Info</title>
  </head>
  <body>
    <div><h1>Vehicle Information</h1></div>
    <div>
      <h3>Vehicle Number :</h3>
      <h3><%= vehicle_number %></h3>
    </div>
    <div>
      <h3>Vehicle ID :</h3>
      <h3><%= vehicle_id %></h3>
    </div>
    <div>
      <h3>Current Odometer :</h3>
      <h3><%= odometer %></h3>
    </div>
    <div>
      <h3>Total Distance :</h3>
      <h3><%= totalDistance %></h3>
    </div>
    <a href="/vehicles" class="btn btn-primary">Back</a>
  </body>
</html>
